.setPlaceholder ::placeholder{
    text-align: center;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: "0px";
    

}

css-10botns-MuiInputBase-input-MuiFilledInput-input{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
input[type=text]{
    text-align: center;
}